# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,58.17,91,97,14.52,overcast clouds
1,1,Busselton,AU,-33.6500,115.3333,55.81,73,93,13.38,overcast clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,51.91,62,0,16.11,clear sky
3,3,Longyearbyen,SJ,78.2186,15.6401,39.04,70,75,8.05,broken clouds
4,4,Castro,BR,-24.7911,-50.0119,60.62,77,0,0.54,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 85
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Saint George,US,37.1041,-113.5841,87.44,25,0,3.00,clear sky
38,38,Ixtapa,MX,20.7000,-105.2000,85.23,74,100,9.22,overcast clouds
43,43,Ciudad Bolivar,VE,8.1222,-63.5497,85.12,63,88,0.51,overcast clouds
69,69,French Harbor,HN,16.3500,-86.4333,85.06,84,40,8.05,scattered clouds
86,86,West Odessa,US,31.8424,-102.4988,85.05,36,0,9.22,clear sky
149,149,Doha,QA,25.2867,51.5333,85.98,84,0,8.05,clear sky
152,152,Abu Dhabi,AE,24.4667,54.3667,86.02,83,0,5.75,clear sky
169,169,Puerto Escondido,MX,15.8500,-97.0667,86.83,54,40,5.75,scattered clouds
198,198,Lompoc,US,34.6391,-120.4579,86.14,72,20,11.50,few clouds
200,200,San Andres,CO,12.5847,-81.7006,87.82,70,40,6.91,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Saint George,US,37.1041,-113.5841,87.44,25,0,3.00,clear sky
38,38,Ixtapa,MX,20.7000,-105.2000,85.23,74,100,9.22,overcast clouds
43,43,Ciudad Bolivar,VE,8.1222,-63.5497,85.12,63,88,0.51,overcast clouds
69,69,French Harbor,HN,16.3500,-86.4333,85.06,84,40,8.05,scattered clouds
86,86,West Odessa,US,31.8424,-102.4988,85.05,36,0,9.22,clear sky
149,149,Doha,QA,25.2867,51.5333,85.98,84,0,8.05,clear sky
152,152,Abu Dhabi,AE,24.4667,54.3667,86.02,83,0,5.75,clear sky
169,169,Puerto Escondido,MX,15.8500,-97.0667,86.83,54,40,5.75,scattered clouds
198,198,Lompoc,US,34.6391,-120.4579,86.14,72,20,11.50,few clouds
200,200,San Andres,CO,12.5847,-81.7006,87.82,70,40,6.91,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                 City Country  Max Temp Current Description      Lat       Lng
7        Saint George      US     87.44           clear sky  37.1041 -113.5841
38             Ixtapa      MX     85.23     overcast clouds  20.7000 -105.2000
43     Ciudad Bolivar      VE     85.12     overcast clouds   8.1222  -63.5497
69      French Harbor      HN     85.06    scattered clouds  16.3500  -86.4333
86        West Odessa      US     85.05           clear sky  31.8424 -102.4988
149              Doha      QA     85.98           clear sky  25.2867   51.5333
152         Abu Dhabi      AE     86.02           clear sky  24.4667   54.3667
169  Puerto Escondido      MX     86.83    scattered clouds  15.8500  -97.0667
198            Lompoc      US     86.14          few clouds  34.6391 -120.4579
200        San Andres      CO     87.82    scattered clouds  12.5847  -81.7006

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Saint George,US,87.44,clear sky,37.1041,-113.5841,
38,Ixtapa,MX,85.23,overcast clouds,20.7000,-105.2000,
43,Ciudad Bolivar,VE,85.12,overcast clouds,8.1222,-63.5497,
69,French Harbor,HN,85.06,scattered clouds,16.3500,-86.4333,
86,West Odessa,US,85.05,clear sky,31.8424,-102.4988,
149,Doha,QA,85.98,clear sky,25.2867,51.5333,
152,Abu Dhabi,AE,86.02,clear sky,24.4667,54.3667,
169,Puerto Escondido,MX,86.83,scattered clouds,15.8500,-97.0667,
198,Lompoc,US,86.14,few clouds,34.6391,-120.4579,
200,San Andres,CO,87.82,scattered clouds,12.5847,-81.7006,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Saint George,US,87.44,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
38,Ixtapa,MX,85.23,overcast clouds,20.7000,-105.2000,hotel la terminal
43,Ciudad Bolivar,VE,85.12,overcast clouds,8.1222,-63.5497,Hotel Edi
69,French Harbor,HN,85.06,scattered clouds,16.3500,-86.4333,"Fantasy Island Beach Resort, Dive & Marina"
86,West Odessa,US,85.05,clear sky,31.8424,-102.4988,Corporate Mobile Housing
149,Doha,QA,85.98,clear sky,25.2867,51.5333,Mövenpick Doha
152,Abu Dhabi,AE,86.02,clear sky,24.4667,54.3667,Beach Rotana
169,Puerto Escondido,MX,86.83,scattered clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
198,Lompoc,US,86.14,few clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
200,San Andres,CO,87.82,scattered clouds,12.5847,-81.7006,Hotel Arena Blanca

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [29]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Saint George,US,87.44,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
38,Ixtapa,MX,85.23,overcast clouds,20.7000,-105.2000,hotel la terminal
43,Ciudad Bolivar,VE,85.12,overcast clouds,8.1222,-63.5497,Hotel Edi
69,French Harbor,HN,85.06,scattered clouds,16.3500,-86.4333,"Fantasy Island Beach Resort, Dive & Marina"
86,West Odessa,US,85.05,clear sky,31.8424,-102.4988,Corporate Mobile Housing
149,Doha,QA,85.98,clear sky,25.2867,51.5333,Mövenpick Doha
152,Abu Dhabi,AE,86.02,clear sky,24.4667,54.3667,Beach Rotana
169,Puerto Escondido,MX,86.83,scattered clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
198,Lompoc,US,86.14,few clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
200,San Andres,CO,87.82,scattered clouds,12.5847,-81.7006,Hotel Arena Blanca

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 87.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>hotel la terminal</dd>\n<dt>City</dt><dd>Ixtapa</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Edi</dd>\n<dt>City</dt><dd>Ciudad Bolivar</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fantasy Island Beach Resort, Dive & Marina</dd>\n<dt>City</dt><dd>French Harbor</dd>\n<dt>Country</dt><dd>HN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Corporate Mobile Housing</dd>\n<dt>City</dt><dd>West Odessa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mövenpick Doha</dd>\n<dt>City</dt><dd>Doha</dd>\n<dt>Country</dt><dd>QA</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Beach Rotana</dd>\n<dt>City</dt><dd>Abu Dhabi</dd>\n<dt>Country</dt><dd>AE</dd>\n<dt>Current Weather</dt><dd>clear sky and 86.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aldea del Bazar Hotel and Spa</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 86.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express Lompoc, an IHG Hotel</dd>\n<dt>City</dt><dd>Lompoc</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 86.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Arena Blanca</dd>\n<dt>City</dt><dd>San Andres</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 87.82 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

         Lat       Lng
7    37.1041 -113.5841
38   20.7000 -105.2000
43    8.1222  -63.5497
69   16.3500  -86.4333
86   31.8424 -102.4988
149  25.2867   51.5333
152  24.4667   54.3667
169  15.8500  -97.0667
198  34.6391 -120.4579
200  12.5847  -81.7006

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))